{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Item for Sale</title>
    <link rel="stylesheet" href="{% static 'css/additem.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>
<body>
    <header>
        <h3>Sell Items here</h3>
        <nav>
            <ul>

                <li><a href="{% url 'studenthome' %}">Home</a></li>

                <li><a href="{% url 'manageitem' %}">Manage Item</a></li>
                <li><a href="{% url 'orders' %}">Confirmed orders</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </nav>
    </header>

    

    <div class="register-container">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Add Item</h2>
            {% if message %}
            <div class="messages">
                <div>{{ message }}</div>
            </div>
            {% endif %}
            <div class="form-group">
                <label for="itemname">Item Name</label>
                <input type="text" id="itemname" name="name" placeholder="Enter item name" required>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" name="description" placeholder="Enter item description must specify how old the item is." rows="4" required></textarea>
            </div>

            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" id="price" name="price" placeholder="prize must be minimal or else item may be rejected by admin" required>
            </div>

            <div class="form-group">
                <label for="quantity">Quantity</label>
                <input type="number" id="quantity" name="quantity" placeholder="Enter quantity" required>
            </div>

            <div class="form-group">
                <label for="category">Category</label>
                <select id="category" name="category" required>
                    <option value="" disabled selected>Select item type</option>
                    <option value="books">Books</option>
                    <option value="electronics">Electronics</option>
                    <option value="furniture">Furniture</option>
                    <option value="others">Others</option>
                </select>
            </div>

            <div class="form-group">
                <label for="itemimage">Upload Image</label>
                <input type="file" id="itemimage" name="itemimage" required>
            </div>
            <input type="checkbox" id="checkbox" required>
            <label for="checkbox" >Agree to refund within 2 days if item fails within 2 days of exchange</label>
            <br>
           <!--<span id="error-message" style=color:red;>please Agree to refund policy!</span>--> 
            <button type="submit" id="button" >Submit Item</button>
    </div>

        </form>
  
</body>
</html>
