<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
     
        <header>
            
            <nav>
                <ul>
                    <li><a href="#view-events">View Events</a></li>
                    <li><a href="#report-found">View Found Item</a></li>
                    <li><a href="#report-lost">View Lost Item</a></li>
                    <li><a href="">Change Password</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </nav>
        </header>
      
        
        <script src="" async defer></script>
    </body>
</html>>