{% load static%}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>forget-password</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/forg.css' %}">
    </head>

    <body>
        <nav class="navclass text-left">
            <a href="{% url 'index' %}" class="inline-block mr-4">Back</a>
           <h3 style="text-align: center;"> RIT BAZAAR</h3>
           <hr>
        </nav>
        <form method="POST">
            {% csrf_token %}
            {% if messages %}
            <div>
                {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
              
            </div>
            {% endif %}
            <label for="email">Enter your email address:</label>
            <input type="email" name="email" required>
            <button type="submit">Submit</button>
        </form>
        
      
      {% comment %} <form method="POST">
        {% csrf_token %}
        {% if messages %}
<div>
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
    <label for="username">username:</label>
    <input type="text" id="username" name="username"> 
    
    
    <button type="submit" id="changepassword">Submit</button>
    </form>  {% endcomment %}
        <script src="" async defer></script>
    </body>
</html>