{% load static %}
<html>
    <head>
        <title>
            RIT BAZAAR
        </title>
        <link rel="stylesheet" href="{%  static 'css/indexcss.css'%}">
    </head>
    <body>
        <header>
            <nav class="navbar">
            <a href="{% url 'adminlogin'%}">Admin Login|</a>
            <a href="{% url 'studentregister' %}">Student Register | </a>
            <a href="{% url 'studentlogin'%}">Student Login</a>
            </nav>
        </header>
        <h2 class="heading">Welcome to RIT BAZAAR</h2>
        <h3>
            Your one-stop marketplace for buying and selling pre-loved items within the RIT community.
        </h3>
        <hr>
        <div class="col-container">
        <div class="col">

            Got something to sell? <br>List your items here and reach potential buyers in the RIT community.
            <br>
            <img src="{% static 'images/shopping-cart.png'%}" width="50%" height="50%">
        </div>

        <div class="col" >
            Stay informed about the latest events and sales happening in the RIT community.
            <br>
            <img src="{% static 'images/events.png'%}" width="40%" height="40%"  >
        </div>

        <div class="col" >
            Lost something? Report it here and we'll help you find it.
            Found an item? Let others know by reporting it here.
            <br>
            <img src="{% static 'images/lost.png'%}" width="50%" height="50%">
        </div>

        
    </div>
        <footer>



        </footer>




    </body>
</html>