{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment for {{ item.name }}</title>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <link rel="stylesheet" href="{% static 'css/header.css' %}">

</head>
<body>
    <header>
        <h2>Payment for {{ item.name }}</h2>
        <nav>
            <ul>
                
                <li><a href="{% url 'studenthome' %}">Home</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                
            </ul>
        </nav>
    </header>
    {% if messages %}
  <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

    <form name='paymentform'>
        <div style="text-align:center">


            <button  id="rzp-button" >Pay with Razorpay</button>
        </div>
    </form>


    <form id="payment-form" action="{% url 'refund_complete_payment' item.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="razorpay_payment_id" id="razorpay_payment_id">
        <input type="hidden" name="razorpay_order_id" id="razorpay_order_id">
        <input type="hidden" name="razorpay_signature" id="razorpay_signature">
    </form>

    <script>
        var options = {
            "key": "{{ rzp_test_edrzdb8Gbx5U5M }}", // Your Razorpay API Key
            "amount": "{{ payment_order.amount }}",
            "currency": "INR",
            "name": "{{ item.name }}",
            "description": "Payment for {{ item.name }}",
            "order_id": "{{ payment_order.id }}", // Order ID from Razorpay
            "handler": function (response){
                // Get Razorpay payment details
                document.getElementById('razorpay_payment_id').value = response.razorpay_payment_id;
                document.getElementById('razorpay_order_id').value = response.razorpay_order_id;
                document.getElementById('razorpay_signature').value = response.razorpay_signature;

                // Submit the form
                document.getElementById('payment-form').submit();
            }
        };

        var rzp1 = new Razorpay(options);
        document.getElementById('rzp-button').onclick = function(e){
            rzp1.open();
            e.preventDefault();
        }
        const btn=document.getElementById("rzp-button");
        const checkbox=document.getElementById("checkbox");

        checkbox.addEventListener('change',function(){
            btn.disabled=!checkbox.checked;
        });
        
           
            
    </script>
</body>
</html>
