{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Found Item</title>

    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/reportitem.css' %}">
</head>
<body>
    <header>
        <h2 style="color: white;">Report found Item</h2>
        <nav>
            <ul>
                <li><a href="{% url 'studenthome' %}">Home</a></li>
                <li><a href="{% url 'manageitemfound' %}">Manage Found Item</a></li>
                <li><a href="{% url 'viewclaim' %}">View claim</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                
            </ul>
        </nav>
    </header>
<div class="register-container">

    <form action="{% url 'reportitemfound' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
        <label for="itemName">Item Name</label>
        <input type="text" id="itemName" name="itemName" placeholder="Enter the name of the item" required>
        <br>
        <label for="description">Description</label>
        <textarea id="description" name="description" placeholder="Describe the item" rows="4" ></textarea>
        <br>
       
<h3>please note : no need to provide details of found item (found date,location,time,appearence information etc).<br>Please verify it using claims and hand over to rightful owner. </h3>

<br>
<br>

        

        <button type="submit">Report Item</button>
    </form>
</div>
<script>
    // JavaScript to set the max date to today
    window.onload = function() {
        var today = new Date().toISOString().split('T')[0];
        document.getElementById("dateFound").setAttribute('max', today);
    };
</script>
</body>
</html>
