{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Lost Item</title>
    <link rel="stylesheet" href="{% static 'css/generalforms.css' %}">
</head>
<body>
    <header>
        <h2 style="color: white;">Report Lost Item</h2>
        <nav>
            <ul>
                <li><a href="{% url 'studenthome' %}">Home</a></li>
               
                <li><a href="{% url 'logout' %}">Logout</a></li>
                
            </ul>
        </nav>
    </header>
<div class="container">

    <form action="{% url 'reportitemlost' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
        <label for="itemName">Item Name</label>
        <input type="text" id="itemName" name="itemName" placeholder="Enter the name of the item" required>

        <label for="description">Description</label>
        <textarea id="description" name="description" placeholder="Describe the item" rows="4" required></textarea>

        <label for="location">Location Lost</label>
        <input type="text" id="location" name="location" placeholder="Enter the location where the item was lost" required>

        <label for="dateLost">Date Lost</label>
        <input type="date" id="dateLost" name="dateLost" required>

        <label for="timeLost">Time Lost</label>
        <input type="time" id="timeLost" name="timeLost" required>

        <label for="itemImage">Upload Image</label>
        <input type="file" id="itemImage" name="itemImage" accept="image/*">

       
<div style="margin-left: 450px;">
        <button  type="submit">Report Item</button>
</div>
    </form>
</div>
<script>
    // JavaScript to set the max date to today
    window.onload = function() {
        var today = new Date().toISOString().split('T')[0];
        document.getElementById("dateLost").setAttribute('max', today);
    };
</script>
</body>
</html>
