
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RIT BAZAR</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h2>Hello  {{ username }} Welcome to RIT BAZAR</h2>
        <nav>
            <ul>
                <li><a href="#view-events">View Events</a></li>
                <li><a href="#report-found">View Found Item</a></li>
                <li><a href="#report-lost">View Lost Item</a></li>
                <li><a href="{% url 'manageprofile' %}">Manage Profile</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </nav>
    </header>

    
    <section id="sell-item">
        <h2>Sell Item</h2>
        <p>Have something to sell? List it here and find a buyer.</p>
        <button onclick="redirectToAddItem()">Sell an Item</button>
    </section>

    <section id="buy-item">
        <h2>Buy Item</h2>
        <p>Looking for something? Browse through the items available for sale.</p>
        <button onclick="redirectToBuyItem()">Buy an Item</button>
    </section>

    <section id="report-found">
        <h2>Report Found Item</h2>
        <p>Found something? Help it get back to its owner.</p>
        <button onclick="redirectToReportItemFound()">Report Found Item</button>
    </section>

    <section id="report-lost">
        <h2>Report Lost Item</h2>
        <p>Lost something? Report it here and we'll help you find it.</p>
        <button onclick="redirectToReportItemLost()">Report Lost Item</button>
    </section>

    <section id="contact-admin">
        <h2>Contact Admin</h2>
        <p>Have questions or need assistance? Contact the admin here.</p>
        <button>Contact Admin</button>
    </section>


    <script>
        function redirectToAddItem() {
            window.location.href = "{% url 'additem' %}";
        }

        function redirectToBuyItem() {
            window.location.href = "{% url 'buyitem' %}";
        }

        function redirectToReportItemFound() {
            window.location.href = "{% url 'reportitemfound' %}";
        }

        function redirectToReportItemLost() {
            window.location.href = "{% url 'reportitemlost' %}";
        }

    </script>

</body>
</html>
