{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/log.css' %}">
    <title>Student Login</title>
   
</head>
<body>
    <nav class="navclass">
        RIT BAZAAR
    </nav>
    <hr>
        <div class="login-container">
            <h2 >Student Login</h2>
            
            <form method="post" id="Loginform" enctype="multipart\form-data" >
                {% csrf_token %}
           <!-- studentlogin.html -->

{% if messages %}
<div>
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

                <div class="user-box">
                    <label for="username">Username</label>
                    <input type="username" id="username" name="username" required>
                </div>
                <br>
                <div class="user-box">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <br>

                <button type="submit">Login</button>
                <br>
                <br>
               <h3> dont have an account?
                <a href="{% url 'studentregister' %}">Register</a>
                <br>
                <a href="{% url 'forgetpassword' %}">Forget password</a>
            </h3>
            </form>
        </div>
    </div>
</body>
</html>
