{% load static %}
<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payments</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
<header>
        <nav>
            <ul>
                <li><a href="{% url 'orders' %}">Back</a></li>
                <li><a href="{% url 'studenthome' %}"> Home</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                
                
            </ul>
        </nav>
    </header>
</head>
<body>

<h2>Orders for your Item</h2>

<table>
    <thead>
        <tr>
            
            <th>Item</th>
            <th>Buyer</th>
            <th>reason for refund</th>
            <th>Image proof</th>
            <th>Date and Time of refund request</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for payment in payments %}
        <tr>
            
            <td>{{ payment.item.name }}</td> 
            <td>
                <ul>
                    <li>{{ payment.buyer_user.username }}</li>
                    <li>{{ payment.buyer_user.email }}</li>
                   
                    
                </ul>
            </td>
   
           
            <td>{{ payment.refund_description }}</td>
            <td>
                {% if payment.refund_image %}
                    <img src="{{ payment.refund_image.url }}" alt="" width="100">
                {% else %}
                    No image
                {% endif %}
            </td>
            <td></td>
            <td>
                <form action="{% url 'refundpayment' payment.item.id %}" method="POST">
                    {% csrf_token %}
                    <button id="button" class="btn btn-primary" style ="background-color: rgb(0, 200, 0); border-radius: 10px; padding: 10px 20px;" type="submit" class="approve-button">Pay ₹{{ payment.item.price }}</button>
                </form>
            </td>





        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No payments found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>
